// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
// $base03:          #141414; // Twilight dark gray background
// $base02:          #333333; // 
// $base01:          #515151; // 
// $base00:          #707070; // 
// $base0:           #8F8F8F; // 
// $base1:           #AEAEAE; // 
// $base2:           #CCCCCC; // 
// $base3:           #EBEBEB; // Light gray
// $solar-yellow:    #e9c062; // 
// $solar-orange:    #CDA869; // 
// $solar-red:       #CF6A46; // 
// $solar-magenta:   #9B859D; // violet
// $solar-violet:    #9B859D;
// $solar-blue:      #7587A6; // 
// $solar-cyan:      #8F9D6A; // green
// $solar-green:     #8F9D6A; // 

// $solar-yellow:    #9B859D; // Twilight violet
// $solar-orange:    #e9c062; // Twilight yellow
// $solar-red:       #CF6A46; // Twilight red
// $solar-magenta:   #ffffff;
// $solar-violet:    #ffffff;
// $solar-blue:      #7587A6; // Twilight blue
// $solar-cyan:      #8F9D6A; // Twilight green
// $solar-green:     #CDA869; // Twilight light brown

/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;

$code-bg: #141414;
$code-color: #F8F8F8;
$line-nb-bg: #404040;