// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "custom/coderay";

.CodeRay {
  pre {
    padding: 1em;
  }
}

.CodeRay pre, .CodeRay .highlight, .CodeRay .gist-highlight  {
  background-color: $code-bg;
  color: #F8F8F8;
  //border: 1px solid silver;
}
